{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Principal": {
        "Service": "{{ set_role.assume_policy_type | d('ec2') }}.amazonaws.com"
      },
      "Action": "sts:AssumeRole"
    }
  ]
}
