{% extends "s3-subfolder-list.json.j2" %}

{% block main_s3_iam_statements %}
  {
    "Effect": "Allow",
    "Action": [
      "s3:GetObject",
      "s3:GetObjectAcl",
      "s3:GetObjectVersion",
      "s3:GetObjectVersionAcl",
    ],
    "Resource": [
{% if tmpl.s3_bucket_prefix is defined %}
  {% if tmpl.s3_bucket_prefix is string %}
      "arn:aws:s3:::{{ tmpl.s3_bucket_name }}/{{ tmpl.s3_bucket_prefix.strip('/') }}",
      "arn:aws:s3:::{{ tmpl.s3_bucket_name }}/{{ tmpl.s3_bucket_prefix.strip('/') }}/*"
  {% elif tmpl.s3_bucket_prefix is sequence %}
    {% for prefix in tmpl.s3_bucket_prefix %}
      "arn:aws:s3:::{{ tmpl.s3_bucket_name }}/{{ prefix.strip('/') }}",
      "arn:aws:s3:::{{ tmpl.s3_bucket_name }}/{{ prefix.strip('/') }}/*"
      {%- if not loop.last %},{% else %}{% endif -%}
    {% endfor %}
  {% endif %}
{% else %}
      "arn:aws:s3:::{{ tmpl.s3_bucket_name }}",
      "arn:aws:s3:::{{ tmpl.s3_bucket_name }}/*"
{% endif %}
    ]
  },
  {
    "Effect": "Allow",
    "Action": [
      "s3:AbortMultipartUpload",
      "s3:DeleteObject",
      "s3:DeleteObjectVersion",
      "s3:PutObject",
      "s3:PutObjectAcl",
      "s3:PutObjectVersionAcl"
    ],
    "Resource": [
{% if tmpl.s3_bucket_prefix is defined %}
  {% if tmpl.s3_bucket_prefix is string %}
      "arn:aws:s3:::{{ tmpl.s3_bucket_name }}/{{ tmpl.s3_bucket_prefix.strip('/') }}/*"
  {% elif tmpl.s3_bucket_prefix is sequence %}
    {% for prefix in tmpl.s3_bucket_prefix %}
      "arn:aws:s3:::{{ tmpl.s3_bucket_name }}/{{ prefix.strip('/') }}/*"
      {%- if not loop.last %},{% else %}{% endif -%}
    {% endfor %}
  {% endif %}
{% else %}
      "arn:aws:s3:::{{ tmpl.s3_bucket_name }}/*"
{% endif %}
    ]
  }
{% endblock %}
